<html>
  <head>
    <title>Custom Reports</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  </head>
  <body>
    {{{body}}}

    <div id="current-time" style="display:flex; justify-content: center;">
        
    </div>
  </body>
  <script>
      //set up a timer to poll the server for it's time to demonstrate how we would use
      //the app-proxy to communicate with our server
    var counter = 0;
    var i = setInterval(function(){
        // do your thing
        getTime();

        clearInterval(i);
    }, 5000);

    function getTime() {
        var request = new XMLHttpRequest();

        //Note: here we are using /service/app-proxy/sample-camera-status to access the
        //time endpoint. This allows us to avoid any cross site scripting problems.
        request.open("GET", "/service/app-proxy/sample-camera-status/time", true);
        request.onreadystatechange = function() {
            if (request.readyState === 4 && request.status === 200) {
                var response = JSON.parse(request.responseText);

                var currentTime = document.getElementById('current-time');
                currentTime.innerHTML = 'The current server time is ' + response;
            }
        };
        request.send();
    }

  </script>
</html>